@model IEnumerable<CSharpBlog.Models.Tag>
@{
    Layout = null;
}

<h3>Tags List</h3>
@foreach (var tag in Model)
{
    <div class="row" id="@Convert.ToString($"{tag.TagId}t")">
        <div class="col-xs-6">
            @Html.DisplayFor(modelItem => tag.Name)
        </div>
        <div class="col-xs-6 text-right">
            @using (Html.BeginForm("Delete", "Tags", new { id = tag.TagId }, FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Ajax.ActionLink("Edit", "Edit", "Tags", new { id = tag.TagId }, new AjaxOptions {
                    UpdateTargetId = Convert.ToString($"{tag.TagId}t"),
                    InsertionMode = InsertionMode.Replace,
                    HttpMethod = "GET"
                }, new { @class = "btn btn-default" })
                <input type="submit" value="Delete" class="btn btn-default" />
            }
        </div>
    </div>
}
<br />
@Html.Partial("~/Views/Tags/Create.cshtml", new CSharpBlog.Models.Tag())