@model CSharpBlog.Models.Post

@{
    ViewBag.Title = "Create";
}

<h3>Create New Post</h3>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-xs-12">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control wide" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-xs-12">
                @Html.TextAreaFor(model => model.Body, new { @class = "form-control", @id = "ckedt" })
                @Html.ValidationMessageFor(model => model.Body, "", new { @class = "text-danger" })
                <script>CKEDITOR.replace('ckedt');</script>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4">
                @Html.DropDownListFor(model => model.CategoryId, null, "- Select Category -", new { @class = "form-control wide" })
                @Html.ValidationMessageFor(model => model.CategoryId, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-8">
                @Html.TextBox("tags", null, null, new { @class = "form-control wide", placeholder = "Add Tags Here" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-12">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section CKEditor {
    <script src="~/Scripts/ckeditor/ckeditor.js"></script>
}