@using CSharpBlog.Models
@model Post

@{
    ViewBag.Title = Model.Title;
}

<h2>@Model.Title</h2>
<h4>By: @Model.Author.FullName</h4>
<h4>Created: @Model.DateCreated</h4>
@if (Model.DateModified!=null)
{
    <h4>Last edited: @Model.DateModified</h4>
}
<div>
    @Html.Raw(Model.Body)
</div>
<div>
    @foreach (var comment in (IEnumerable<Comment>)Model.Comments)
    {
        <div id="@comment.Id.ToString()">
            @comment.DateCreated<br />
            @comment.Body
            @if (HttpContext.Current.User.Identity.IsAuthenticated && HttpContext.Current.User.IsInRole("Administrator"))
            {
                <span class="comment-edit">
                    [
                    @Ajax.ActionLink("Edit", "Edit", "Comments", new { id = comment.Id }, new AjaxOptions
                    {
                        UpdateTargetId = comment.Id.ToString(),
                        InsertionMode = InsertionMode.Replace,
                        HttpMethod = "GET"
                    }, null)
                    <span>|</span>
                    @Ajax.ActionLink("Delete", "Delete", "Comments", new { id = comment.Id }, new AjaxOptions
                    {
                        UpdateTargetId = comment.Id.ToString(),
                        InsertionMode = InsertionMode.Replace,
                        HttpMethod = "GET"
                    }, null)
                    ]
                </span>
            }
        </div>
        
    }
</div>
<div>
    @Ajax.ActionLink("New Comment", "Create", "Comments", new { postId = Model.Id }, new AjaxOptions
    {
        UpdateTargetId = "renderComments",
        InsertionMode = InsertionMode.Replace,
        HttpMethod = "GET"
    }, new { @class = "btn btn-default" })
    <div id="renderComments">
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
}
