@model IPagedList<CSharpBlog.Models.Comment>
@using PagedList.Mvc;
@using PagedList;
@{ 
    Layout = null;
}
<div id="comments">
    @foreach (var item in Model)
    {
        <div class="row comment" id="@item.Id.ToString()">
            <div class="col-md-10">
                <i style="font-size:small">@Html.HiddenFor(modelItem => item.PostId)
                On @Html.DisplayFor(modelItem => item.DateCreated), @Html.DisplayFor(modelItem => item.Author.FullName) said:</i> @Html.DisplayFor(modelItem => item.Body)
            </div>
            <div class="col-md-2">
                @if (HttpContext.Current.User.IsInRole("Administrator"))
                {
                        using (Html.BeginForm("Delete", "Comments", new { @id = item.Id }, FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            @Ajax.ActionLink("Edit", "Edit", "Comments", new { id = item.Id }, new AjaxOptions
                            {
                                UpdateTargetId = item.Id.ToString(),
                                InsertionMode = InsertionMode.Replace,
                                HttpMethod = "GET"
                            }, new { @class = "btn btn-info" })
                            <input type="submit" value="Delete" class="btn btn-info" />
                        }
                }
            </div>
        </div>
    }
    @Html.PagedListPager(Model,
 page => Url.Action("Index", "Comments", new { postId = ViewBag.PostId, page }), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(PagedListRenderOptions.PageNumbersOnly,
        new AjaxOptions
        {
            InsertionMode = InsertionMode.ReplaceWith,
            HttpMethod = "Get",
            UpdateTargetId = "comments"
        }))
</div>