@model IPagedList<CSharpBlog.Models.Comment>
@using PagedList.Mvc;
@using PagedList;
@{ 
    Layout = null;
}
<div id="comments">
    @foreach (var item in Model)
    {
        <div>
            @Html.HiddenFor(modelItem => item.PostId)
            @Html.DisplayFor(modelItem => item.Body)
            @Html.DisplayFor(modelItem => item.DateCreated)
            @Html.DisplayFor(modelItem => item.Author.FullName)
            @Html.ActionLink("Edit", "Edit", new { id = item.Id })
            @Html.ActionLink("Details", "Details", new { id = item.Id })
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        </div>
    }
    @Html.PagedListPager(Model,
 page => Url.Action("Index", "Comments", new { postId = ViewBag.PostId, page }), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(PagedListRenderOptions.PageNumbersOnly,
        new AjaxOptions
        {
            InsertionMode = InsertionMode.ReplaceWith,
            HttpMethod = "Get",
            UpdateTargetId = "comments"
        }))
</div>