@model IEnumerable<CSharpBlog.Models.Post>
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-8">
        @foreach (var post in Model)
        {
            <h1 class="post-title">@post.Title</h1>

            if (HttpContext.Current.User.Identity.IsAuthenticated && HttpContext.Current.User.IsInRole("Administrator"))
            {
                @Html.ActionLink("Edit", "Edit", "Posts", new { id = post.Id }, null)
                <span> | </span>
                @Html.ActionLink("Delete", "Delete", "Posts", new { id = post.Id }, null)
            }

            <p class="lead">Written by: @post.Author.Email (@post.DateCreated.ToString("dd-MM-yyyy") at @post.DateCreated.ToString("HH:mm"))</p>
            <p class="lead">@Html.Raw(post.Body)</p>
        }
    </div>
    <div class="col-md-4">
        <h1>Sidebar</h1>
    </div>
</div>