@model IPagedList<CSharpBlog.Models.Post>
@using PagedList.Mvc;
@using PagedList;
@{
    ViewBag.Title = "Home";
}

<div class="row">
    <div class="col-xs-12">
        <img src="~/Content/Images/layout-img.png" class="img-responsive img-header" />
    </div>
</div>
<div class="row">
    <div class="col-md-9">
        @foreach (var post in Model)
        {
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-11 post-title text-center">
                            @Html.ActionLink(post.Title, "Details", "Posts", new { id = post.Id }, null)
                        </div>
                        <div class="col-xs-1 text-right">
                            <span class="glyphicon glyphicon-eye-open"></span>
                            <span class="post-edit"> @post.Views</span>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <p>@Html.Raw(post.Body)</p>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-md-3">
                            By: @post.Author.FullName
                        </div>
                        <div class="col-md-3">
                            @(post.DateModified != null ? post.DateModified : post.DateCreated)
                        </div>
                        <div class="col-md-3">
                            @post.Category.Name
                        </div>
                        <div class="col-md-3 text-right">
                            @if (HttpContext.Current.User.Identity.IsAuthenticated && HttpContext.Current.User.IsInRole("Administrator"))
                            {
                                <span class="post-edit">
                                    [
                                    @Html.ActionLink("Edit", "Edit", "Posts", new { id = post.Id }, null)
                                    <span>|</span>
                                    @Html.ActionLink("Delete", "Delete", "Posts", new { id = post.Id }, null)
                                    ]
                                </span>
                            }
                        </div>
                    </div>
                </div>
            </div>
        }
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
    </div>
    <div class="col-md-3">
        <div class="well">
            <h1>Sidebar</h1>
            @using (Html.BeginForm("Index", "Home", FormMethod.Post))
            {
                @Html.Label("Search: ")
                @Html.TextBox("search", null, new { @class = "form-control" })
                <input type="submit" value="Search" class="btn btn-default" />
            }
        </div>
    </div>
</div>